.login {
  margin-top: 5rem;
  padding: 3rem;
  background: #F4F4F9;
  box-shadow: 3px 3px 5px 1px rgba(0,0,0,.2);
  border-radius: 10px;
}

#login-btn {
  justify-content: center;
  margin: 0 auto;
  display: flex;
  padding: .5rem 2rem;
  margin-top: 2rem;
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,.2);
}

#buzzik-logo {
  width: 200px;
  height: 200px;
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,.2);
  border-radius: 10px;
  margin: 2rem;
}

.login-input {
  width: 100%;
}


